[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LDATree"]
	path = LDATree
	url = https://github.com/moran79/ldatree
[submodule "folda"]
	path = folda
	url = https://github.com/moran79/folda
